GOOGLE_ID=1042531460759-oqrbclom48hsr5fvgm6narv9uhibds5n.apps.googleusercontent.com
GOOGLE_SECRET=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
NEXTAUTH_SECRET=MuhammadSheraz_20014156-004
NEXTAUTH_URL=http://localhost:3000
DATABASE_URL="mongodb+srv://muhammadshiraz492:NOHGBan56e47x5UN@cluster0.favv1wo.mongodb.net/blog?retryWrites=true&w=majority"